html {
    font-size: 62.5%;
    box-sizing: border-box;
  }
  
  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
  }
  
  .calculator {
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 400px;
    height: 100vh;
  }
  
  .calculator-screen {
    width: 100%;
    height: 160px;
    border: none;
    background-color: #252525;
    color: #fff;
    text-align: right;
    padding-right: 20px;
    padding-left: 10px;
    font-size: 4rem;
  }
  
  button {
    height: 60px;
    font-size: 2rem!important;
  }
  
  .equal-sign {
    height: 98%;
    grid-area: 2 / 4 / 6 / 5;
    color: white;
    background-color: rgb(3, 171, 3);
  }
  
  .calculator-keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 25px;
    padding: 25px;
  }

  #history {
    color: white;
    align-items: center;
    overflow-y: scroll;
    height: 100vh;
    
  }